<div>
  <header id="header">
    <div id="firstHeaderSection">
      <img alt="westland werving" src="css/img/u22.png" />
    </div>

    <div id="lastHeaderSection">

      <div>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home pagina</a>
        <a routerLink="/kendidate" routerLinkActive="active">Kandidaten</a>
        <a routerLink="/werkgevers" routerLinkActive="active">Werkgevers</a>
        <a routerLink="/about" routerLinkActive="active">Over ons</a>
      </div>

    </div>
  </header>
  <router-outlet></router-outlet>
  <div id="footer">
      <div id="firstFooterSection">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home pagina</a>
        <a routerLink="/kendidate" routerLinkActive="active">Kandidaten</a>
        <a routerLink="/werkgevers" routerLinkActive="active">Werkgevers</a>
        <a routerLink="/about" routerLinkActive="active">Over ons</a>
      </div>
      <div id="lastFooterSection">
        <a><img alt="fb" src="css/img/facebooke.png" /></a>
        <a><img alt="twitter" src="css/img/twit.png" /></a>
        <a><img alt="In" src="css/img/in.jpg" /></a>
        <a><img alt="Google" src="css/img/google.jpg" /></a>
        <a><img alt="YouTube" src="css/img/youtube.png" /></a>
      </div>
  </div>
